* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important; }
body{
    background:hsl(257, 40%, 49%);
    
}
main {
    width: 100%;
    height: 800px;
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
     width: 100%;
     height: 80px;
    
}
.header img{
    margin-left: 110px;
    width: 200px;
    height: 130px;
    margin-top: -10px;
}
.container {
          max-width: 100%;
          height: 600px;
          display: flex;
          margin:100px auto;
}
.left {
    width: 100%;
    padding-left: 40px;

}
.left img {
    width: 98%;
    height: 80%;
    margin-top: 20px;
}
.right {
     width: 50%;
     height:560px;
     display: flex;
     flex-direction: column;
     margin-top: 60px;
     padding-right: 10px;
     padding-left: 10px;
     
}
.right h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 35px;
    text-align: left;
}
.right p {
    font-family: 'Open Sans', sans-serif;
    color:white;
   
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
}
.right h3 {
      width: 160px;
      border-radius: 20px;
      height: 40px;
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      background: white;
      box-shadow: 2px 2px 6px dimgrey;
      color:  hsl(257, 40%, 49%);
      text-align: center;
      line-height: 40px;
      margin-top: 30px;
      transition: all .3s ease;
}
.right h3:hover{
    background:hsl(300, 69%, 71%);
    color: white;

}
.right a {
       text-decoration: none;
}
.iconos {
    width: 170px;
    height: 45px;
    margin-top: 250px;
    margin-left: 290px;
    
    }
    

.iconos ion-icon{
       color: white;
       font-size: 30px;
       margin-right: 10px;
}
.iconos ion-icon:hover{
    color: hsl(300, 69%, 71%);
}

@media screen and (max-width:375px) {
    main { 
        width: 100vw;
        background-image: url('../images/bg-mobile.svg');
        background-size: contain;
    }
    .header img {
         margin-left: 30px;
         width: 150px;
         height: 100px;
    }
    .left {
        width: 90%;
    }
    .left img {
        width: 100%;
        height: 100%;
    }
    .container {
        width: 100%;
        display: flex;
        margin-top: 20px;
        flex-direction: column;}

    

.right {
     width: 100%;
     padding: 0 35px 0 35px;
}
.right h1 {
       font-size: 25px;
       text-align: center;
}
.right p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}
.right h3 {
        margin-left: 80px;
}
.iconos { 
        margin-left: 100px;
        margin-top: 50px;
}
}